# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'cmd-alt-w': 'path-copy:current-fullpath'
  'cmd-alt-e': 'path-copy:current-shortname'
  'cmd-alt-r': 'path-copy:current-fullname'
  'cmd-alt-t': 'path-copy:current-folderpath'
  'cmd-alt-y': 'path-copy:current-projectpath'
  'cmd-alt-u': 'path-copy:current-relativepath'
  'cmd-alt-i': 'path-copy:current-extension'
